<div id="analysis-table" class="container">
    <center>
        <h2>Prediction Data</h2>
    </center>
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"> Note: Percentiles <span class="perc">(Perc)</span> are relative to the general population; Probability indicated with <span class="prob">(Prob)</span></div>
            <table class="table table-hover table-inverse" id="interpretations">
                <tr class="table-header">
                    <td>Interpretation trait</td>
                    <td>Value</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Predictions and Contributions </div>
            <table class="table table-hover table-inverse" id="predictions">
                <tr class="table-header">
                    <td>Prediction trait</td>
                    <td>Prediction Value</td>
                    <td>Negative Contributors
                        <br>(Like IDs)</td>
                    <td>Positive Contributors
                        <br>(Like IDs)</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
