extends layout

block content
  style.

  div#container
    img(src="./images/fbook.png")#login
    h1#logout logout

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/index.js")

  include dashboard.html
  include socks.html
